---
import Layout from '@layouts/Layout.astro'
import { getEntry, render } from 'astro:content'

const entry = await getEntry('about', 'about')
const { Content } = entry ? await render(entry) : { Content: null }

export const prerender = true
---

<Layout title="About">
    <div class="mt-9">
        <div class="prose dark:prose-invert prose-stone max-w-none">
            {Content ? <Content /> : <p>About page content coming soon.</p>}
        </div>
    </div>
</Layout>
