---
import ThemeIcon from '@components/ThemeIcon.astro'

export const prerender = true
---

<div class="header-container">
    <div class="ml-auto">
        <ThemeIcon />
    </div>
</div>

<style>
    .header-container {
        display: flex;
        align-items: center;
        padding: 1rem 0;
    }
</style>
